.Container {
	padding-top: 10px;
	 	
}
.main-container h2 {
    color: white;
    text-align: center;
}

.Heading {
    color: #9cd2a2;	 
}

.footer {
	 background-color: #013220;
	 color: #066a89;
}

.hey{
	text-align: center;
}

