.noResults {
    text-align: center;
    color: #066a89;
}

.profileTitle {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.modalOpen {
    border: none;
    background-color: none;
    position: absolute; 
    top: 80px; 
    left: 80px; 
    right: 80px; 
    bottom: 80px; 
    overflow: auto; 
}

.modal-header {
    background-color: #066a89;
    color: white;
    letter-spacing: 0.02em;
    font-size: 2em;
}

.modal-content {
    border: 1px solid #066a89;
}

.modal-footer {
    border-top: none;
}

.modal-body {
    color: #066a89;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 1.2em;
}

.close {
    color: white;
}

.shareIcon {
    font-size: 1.8em;
    text-align: center;
}

.SocialMediaShareButton {
    padding: 10px 20px;
}

#isEditing {
    width: 90px;
    float: right;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
}

#isCreating {
    width: 220px;
    height: 4em;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.02em;
    font-size: 1.2em;
}

@media (max-width: 640px) {
    .modalOpen {
        top: 10px; 
        left: 10px; 
        right: 10px; 
        bottom: 10px; 
    }

    #isCreating {
        width: 180px;
        height: 3em;
        margin: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        letter-spacing: 0.04em;
        font-size: 1em;
    }
}