.mapWindow {
    background-color: #fff; 
    padding: 15px; 
    width: 25em;
    border-radius: 3px;
    box-shadow: 0 0 15px #444;
    font-family: 'Raleway', sans-serif;
    opacity: 0.9;
}

.mapWindow p {
    margin: 0;
    padding: 5px 0;
}

.mapWindow h5 {
    color: #44D2FF; 
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.06em;
    margin: 0;
    padding: 5px 0;
}

.mapBoldText {
    color: #9cd2a2;
    font-weight: 900;
    text-transform: uppercase;
}

.HighRated-Header {
    text-align: center;
    text-transform: uppercase;
    color: #64cbe6;
    margin-top: 30px;
    padding: 20px;
}

.cardBorder {
    border: 1px solid #066a89;
    margin: 20px 15px;
    box-shadow: 0 0 10px #ddd;
}

.cardColor {
    background-color: #eee;
    color: #066a89;
    text-align: center;
    margin: 15px;
}

.fullWidth {
    background-color: #066a89;
    width: 100%;
    margin: 0;
    padding: 20px 0;
}

.rating {
    padding: 20px;
    background-color: #9cd2a2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: -10px;
    z-index: 10;
    color: #fff;
    font-weight: 900;
    font-size: 2em;
    line-height: 0.5em;
}

.ratedTitle {
    text-transform: uppercase;
}